/*  NORMALIZE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

/*  DESREBOOT BOOTSTRAP */
p {
  margin-bottom: 0; }

a {
  text-decoration: none;
  color: black; }

dl, ol, ul {
  margin-bottom: 0;
  padding: 0; }

#navbarNav {
  justify-content: flex-end; }

.hero__titulo, .hero__slogan, .infocard__titulo, .info__titulo, .contactoHome__titulo, .contactoHome__desc, .fieldset__legend, .heroC__titulo, .heroC__slogan {
  font-family: 'Marcellus', serif; }

.hero__slogan, .infocard__desc, .contactoHome__desc, .heroC__slogan {
  font-family: 'Assistant', sans-serif; }

/* FONTS */
.contactoHome__btn, .fieldset__btn, .info__btn, .infocard__btn, .hero__btn, .header__anchor, .footer__anchor, .footer__nombre, .footer__ciudad {
  font-family: 'Poppins', sans-serif; }

/* HERO HOME*/
.hero {
  background-image: url(../img/heroHome.jpg);
  color: white;
  height: 91vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero__titulo, .hero__slogan {
    text-align: center;
    margin: .5rem auto;
    text-shadow: 2px 2px black;
    font-size: 4em; }
  .hero__slogan {
    font-size: 2em; }
  .hero__btn {
    padding: 1rem 0.2rem;
    background-color: white;
    border-radius: 2rem;
    margin: 1rem;
    width: 250px;
    text-align: center;
    font-size: 1em; }
  .hero .hero__btn:hover, .hero .contactoHome__btn:hover, .hero .fieldset__btn:hover, .hero .fieldset__btn:hover {
    background: pink;
    color: black;
    transition: all .5s ease; }

/* FIN HERO HOME*/
/* INFOCARD */
.info {
  background-color: white; }
  .info__titular {
    padding: 3rem 2rem 2rem 2rem;
    text-align: center;
    background-color: #f8fafa;
    box-shadow: 0 0 13px 0 #b9b9b9;
    font-size: 3.5em;
    margin-bottom: 2rem; }
  .info__btnDiv {
    align-self: start;
    grid-column: 3 / 2; }
  .info__btn {
    padding: 1rem;
    background-color: pink;
    border-radius: 20px;
    box-shadow: 0 0 13px 0 #b9b9b9; }

.tarjetasHome {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 80px;
  gap: 2rem;
  justify-items: center; }

.infocard {
  background-color: #f8fafa;
  padding: 1rem;
  margin: 2rem 4rem;
  border-radius: 30px;
  box-shadow: 0 0 13px 0 #b9b9b9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .infocard:hover {
    box-shadow: 0 0 13px 0 #b9b9b9;
    transition: all .4s ease-in-out; }
  .infocard_img {
    border-radius: 30px;
    height: 60%;
    width: 90%;
    box-shadow: 0 0 13px 0 #b9b9b9;
    object-fit: cover; }
  .infocard__titulo {
    padding: 1rem;
    font-size: 2rem;
    text-align: center; }
  .infocard__desc {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center; }
  .infocard__btn {
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: pink;
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: 0 0 13px 0 #b9b9b9; }

.info__btn:hover, .infocard__btn:hover {
  background-color: white;
  transition: all .5s ease; }

/* FIN INFOCARD */
/* CONTACTO HOME*/
.contactoHome {
  background-color: #7C5869;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contactoHome__titulo, .contactoHome__desc {
    font-size: 4em; }
  .contactoHome__desc {
    font-size: 1.3em; }
  .contactoHome__titulo, .contactoHome__desc {
    text-align: center;
    margin: 1rem auto;
    display: inline-block;
    color: white;
    text-shadow: 2px 1px 0 #000000; }
  .contactoHome__btn, .fieldset__btn {
    display: inline-block;
    padding: 1rem;
    margin-top: 1rem;
    background-color: white;
    bottom: 0;
    text-align: center;
    border-radius: 30px; }

/* FIN CONTACTO HOME*/
/* whatsapp btn*/
img.btn-whatsapp {
  display: block !important;
  position: fixed;
  z-index: 9999999;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 100px !important; }

img.btn-whatsapp:hover {
  border-radius: 100px !important;
  -webkit-box-shadow: 0px 0px 15px 0px #075e54;
  -moz-box-shadow: 0px 0px 15px 0px #075e54;
  box-shadow: 0px 0px 15px 0px #075e54;
  transition-duration: 1s; }

/* HERO CONTACTO */
.heroC {
  background-image: url(../img/hero_contacto.jpg);
  color: white;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .heroC__titulo, .heroC__slogan {
    text-align: center;
    margin: .5rem auto;
    text-shadow: 2px 2px black;
    font-size: 5rem; }
  .heroC__slogan {
    font-size: 1.5rem;
    border-bottom: white solid 3px;
    padding-bottom: 1rem;
    box-shadow: 0px 2px black; }

/* FIN HERO CONTACTO */
/* FIELDSET*/
#mivideo {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
  background-size: cover; }

.form {
  font-family: "Assistant", sans-serif;
  font-size: 1.5rem;
  height: 100vh; }

.formcard {
  background-color: #f8fafa;
  height: auto;
  border-radius: 40px;
  box-shadow: 0 0 13px 0 #b9b9b9;
  align-content: space-between; }

.fieldset__legend {
  text-align: center;
  width: 100%;
  background-color: #ecf1f4;
  border-radius: 35px 35px 0px 0px;
  font-size: 2.5rem;
  padding: 1rem;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 0 13px 0 #b9b9b9; }

textarea {
  resize: none; }

.fieldset__btn {
  display: inline-block;
  padding: .7rem 0.5rem;
  margin: 2rem;
  text-align: center;
  width: 20rem;
  font-size: 1.2rem; }

/* FIN FIELDSET*/
/* ---- FIN CONTACTO ---- */
/* ----- NOSOTROS ------- */
.heroN__titulo, .heroN__slogan, .nosotroscard__titulo, .nosotroscard__desc {
  font-family: "Assistant", sans-serif; }

.heroN__slogan, .nosotroscard__desc {
  font-family: "Marcellus", serif; }

/* HERO NOSOTROS */
.heroN {
  background-image: url(../img/background_nosotros.png);
  height: 91vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .heroN__container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 91vh; }
  .heroN__titulo, .heroN__slogan {
    font-size: 6rem; }
  .heroN__titulo, .heroN__slogan {
    color: black;
    margin: 1rem 3rem;
    padding: 1rem 3rem; }
  .heroN__slogan {
    font-size: 2rem;
    text-align: initial; }
  .heroN__div, .heroN__img {
    border-radius: 10%;
    box-shadow: 0 0 13px 0 #b9b9b9; }
  .heroN__img {
    margin: 1.5rem;
    max-height: 500px;
    max-width: 500px;
    border-radius: 40px; }

/* FIN HERO NOSOTROS */
/* NOSOTROS CARD */
.main__nosotros {
  height: 77.7vh;
  /* align-items: center; */
  scroll-snap-type: y mandatory;
  overflow-y: scroll; }
  .main__nosotros::-webkit-scrollbar {
    /* solo oculta su visualizacion */
    display: none; }

.nosotroscard, .heroN, .nosotroscard__2 {
  background-color: #e6e3ec;
  height: 78vh;
  box-shadow: 0 0 13px 0 #b9b9b9;
  display: flex;
  flex-direction: row;
  scroll-snap-align: start;
  justify-content: center;
  align-items: center; }
  .nosotroscard__2 {
    flex-direction: row-reverse;
    background-color: #F5EDF0; }
  .nosotroscard__titulo, .nosotroscard__desc {
    text-align: center;
    margin: 1rem 3rem;
    padding: 1rem;
    font-size: 2.5rem; }
  .nosotroscard__img {
    max-width: 650px;
    max-height: 650px;
    border-radius: 15%;
    margin: 2rem;
    padding: 2rem;
    object-fit: cover; }
  .nosotroscard__desc {
    font-size: 2rem; }
  .nosotroscard__txt, .heroN__txt {
    box-shadow: 0 0 13px 0 #b9b9b9;
    border-radius: 2rem;
    margin: 2rem; }

/* ---- PRODUCTOS ----*/
/* CARRUSEL */
.carousel, .carousel-inner > .item > p {
  font-size: 1.5em; }

.carousel__h5 {
  font-size: 2em; }

.grid__container > .info__titular > .info__titulo {
  font-size: 1.2em; }

.carousel-caption {
  background-color: #1e1e1e59;
  border-radius: 30px;
  padding: 2rem;
  font-family: "Poppins", sans-serif; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: black;
  padding: 1.5rem;
  border-radius: 50px; }

.carousel-inner img {
  max-height: 89vh;
  object-fit: cover;
  background-position: center; }

/* GRID PRODUCTOS */
.grid__container {
  height: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background: url(../img/background_productospng.jpg);
  background-size: cover;
  background-position: center; }

.grid__titulo {
  text-align: center;
  margin: 0.5rem;
  padding: 2REM;
  font-size: 3.5REM;
  font-family: "Assistant", sans-serif;
  text-shadow: -2px -2px black; }

.grid__ul {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 2rem;
  text-shadow: -1px -1px black; }

.grid__categorias {
  margin: 1rem;
  font-size: 1.5rem;
  font-family: "Marcellus", serif;
  text-decoration: none; }

.producto {
  background-color: rgba(245, 245, 245, 0.959);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 35rem;
  justify-content: space-between;
  width: 90%;
  margin: 2rem auto;
  border-radius: 29px;
  box-shadow: 0 0 13px 0 rgba(185, 185, 185, 0.75);
  transition: all .2s ease-in-out; }
  .producto:hover {
    width: 93%;
    box-shadow: 0 0 15px 0 rgba(139, 139, 139, 0.9); }
  .producto__img {
    height: 390px;
    width: 90%;
    margin: 0.3rem;
    padding: .5rem;
    border-radius: 28px;
    object-fit: cover;
    transition: all .2s ease-in-out; }
    .producto__img:hover {
      width: 93%;
      height: 398px; }
  .producto__titulo, .producto__price {
    display: inline-block;
    font-family: "Marcellus", serif;
    text-align: center; }
  .producto__titulo, .producto__price {
    font-size: 1.9rem; }
  .producto__price {
    font-size: 1.2rem;
    background-color: #fc8c9e;
    border-radius: 10px;
    padding: .6rem;
    margin-bottom: 1rem; }

/* FIN GRID PRODUCTOS */
/* ---- FAQ ----*/
/*  FAQ HERO */
.heroF {
  background-image: url(../img/hero_faq.jpg);
  color: white;
  height: 65vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: space-around; }
  .heroF__titulo, .heroF__slogan {
    font-size: 4rem;
    font-family: "Marcellus", serif; }
  .heroF__titulo, .heroF__slogan {
    padding: 1rem;
    text-shadow: 2px 2px black; }
  .heroF__slogan {
    font-size: 2rem;
    font-family: "Assistant", sans-serif; }

.buscador {
  width: 25rem;
  height: 2rem;
  margin: 1rem;
  box-shadow: 2px 2px black;
  border-radius: 8px; }

/*  FIN FAQ HERO */
/*  FAQ CONTAINER */
.faq__container {
  height: auto;
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  justify-content: space-around; }

.faq__modulo {
  margin: 1rem 0;
  background-color: #f8fafa;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 13px 0 rgba(185, 185, 185, 0.25); }

.faq__preg, .faq__resp {
  font-family: "Assistant", sans-serif;
  padding: 0.5rem 2rem;
  text-shadow: 0 0 13px 0 rgba(185, 185, 185, 0.25);
  font-size: 2.5rem; }

.faq__resp {
  font-size: 1.3rem; }

/*  FIN FAQ CONTAINER */
/* HEADER */
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white; }

.header__anchor {
  font-size: 1em;
  padding: 0.5rem 0rem;
  margin: 0rem .5rem;
  border-bottom: black solid 2px;
  display: inline-block;
  transition: all .2s ease-in-out; }
  .header__anchor:hover {
    color: #fc8c9e;
    border-bottom: #fc8c9e solid 4px;
    margin: 0 0.6rem;
    font-size: 1.1em; }

.header__logo {
  width: 110px;
  transition: all .3s ease-in-out; }
  .header__logo:hover {
    width: 125px; }

.header__figure {
  margin: .5rem; }

.header__item {
  display: inline-block; }

.header .navbar-nav {
  align-items: center; }

/* FIN HEADER */
/* FOOTER*/
.footer__nav {
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.footer__medios {
  margin: 1rem; }

.footer__logosmedios {
  width: 60px;
  margin: 3px; }

.footer__copyLocation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.footer__logoLocation {
  display: inline-block;
  width: 17PX;
  height: 25PX;
  margin: -0.5rem 0;
  filter: invert(100%); }

.footer__txt {
  color: white;
  padding: .5rem; }

.footer__txt-2 {
  display: inline-block;
  margin: 1.5rem 0; }

.footer__anchor {
  color: white;
  padding: 1rem 0.5rem; }

.footer__anchor {
  color: white;
  padding: 1rem 0.5rem;
  transition: all .2s ease-in-out; }
  .footer__anchor:hover {
    color: #fc8c9e;
    border-bottom: #fc8c9e solid 1px; }

.footer__li {
  display: inline-block;
  text-decoration: none; }

.footer__redes__logos {
  filter: invert(100%);
  margin: 1rem; }

/* ---- INICIO RESPONSIVE  ----*/
/*  MEDIA QUERY */
@media screen and (min-width: 150px) and (max-width: 767px) {
  .footer__nav {
    height: 120px; }
  .footer__logosmedios {
    width: 20px;
    margin: 1px; }
  .footer__medios {
    margin: .5rem; }
  .footer__anchor {
    padding: 0;
    font-size: .6em;
    text-align: center; }
  .footer__txt {
    font-size: .5em;
    margin: 0;
    padding: .3rem;
    text-align: center; }
  .footer__ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__logoLocation {
    display: none; }
  .footer__copyLocation {
    flex-direction: column-reverse; }
  .footer__redes__logos {
    height: 15px;
    width: 15px;
    margin: .3rem; }
  .footer__li {
    text-align: center; }
  /*  HOME */
  .hero {
    height: 72vh; }
    .hero__titulo, .hero__slogan {
      font-size: 1.2em; }
    .hero__slogan {
      font-size: .8em; }
    .hero__btn {
      font-size: .5em;
      width: 125px;
      padding: .5rem .2rem; }
  .tarjetasHome {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr) 50px;
    gap: 0; }
  .infocard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin: 1rem;
    border-radius: 15px; }
    .infocard_img {
      grid-row: 1 / 4;
      height: 70%;
      border-radius: 10px; }
    .infocard__titulo {
      font-size: .8em;
      padding: 0; }
    .infocard__desc {
      font-size: .7em;
      padding: 0; }
    .infocard__btn {
      font-size: .5em;
      padding: .5rem;
      margin: 0;
      width: 50%; }
  .info__titular {
    font-size: 1em;
    padding: 1rem; }
  .info__btnDiv {
    align-self: center;
    grid-column: 1;
    margin-bottom: 1rem; }
  .info__btn {
    padding: 0.5rem;
    font-size: .5em;
    margin: 1rem; }
  .contactoHome {
    height: 150px; }
    .contactoHome__titulo, .contactoHome__desc {
      font-size: 1.2em;
      margin: 0.5rem auto; }
    .contactoHome__desc {
      font-size: .5em;
      margin: 0.5rem auto; }
    .contactoHome__btn, .fieldset__btn {
      font-size: .5em;
      padding: .5rem;
      margin: 0.5rem; }
  /*  FAQ */
  .heroF {
    align-items: center;
    justify-content: center; }
    .heroF__titulo, .heroF__slogan {
      font-size: 3.5em; }
    .heroF__slogan {
      font-size: 1.7em; }
  .buscador {
    width: 75%; }
  /*  NOSOTROS*/
  .heroN__titulo, .heroN__slogan, .heroN__slogan {
    margin: .5rem 1rem;
    padding: .25rem 1rem;
    text-align: center; }
  .heroN__titulo, .heroN__slogan, .nosotroscard__titulo, .nosotroscard__desc {
    font-size: 1.8rem;
    padding: 0.5rem;
    margin: 0.5rem; }
  .heroN__slogan, .nosotroscard__desc {
    font-size: 1.1em;
    margin: .5rem;
    padding: .5rem; }
  .nosotroscard, .heroN, .nosotroscard__2, .nosotroscard__2, .heroN__container {
    flex-direction: column; }
  .heroN__container {
    flex-direction: column-reverse; }
  .nosotroscard__img, .heroN__img {
    width: 250px;
    height: 250px;
    margin: .5rem;
    padding: .5rem; }
  .nosotroscard__txt, .heroN__txt, .heroN__txt {
    border-radius: .5rem;
    margin: .25rem; }
  /*  CONTACTO*/
  .heroC__titulo, .heroC__slogan {
    font-size: 2.5em;
    margin: 1rem; }
  .heroC__slogan {
    font-size: 1.5em; }
  .formcard {
    padding: .5rem;
    margin: 2.5rem;
    width: inherit; }
  .form {
    height: auto; }
  .fieldset__btn {
    margin: 1.25rem 0.25rem;
    width: auto;
    font-size: .5em; }
  /*  PRODUCTOS */
  .hero__titulo, .hero__slogan {
    font-size: 3em;
    margin: .25rem; }
  .hero__slogan {
    font-size: 1.2em; }
  .grid__titulo {
    font-size: 2.5em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__logosmedios {
    width: 40px;
    margin: 1px; }
  .footer__medios {
    margin: .5rem; }
  .footer__anchor {
    padding: 0;
    font-size: .6em; }
  .footer__txt {
    font-size: .5em;
    margin: 0; }
  .footer__ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__logoLocation {
    display: none; }
  .footer__copyLocation {
    flex-direction: row; }
  .footer__nav {
    height: 100px; }
  /*  home */
  .tarjetasHome {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr) 80px;
    gap: 0; }
  .infocard {
    margin: 1rem; }
  .info__btnDiv {
    align-self: baseline;
    margin-top: 1rem;
    justify-self: center;
    grid-column: 1 / 3; }
  /*  NOSOTROS*/
  .nosotroscard__img, .heroN__img {
    width: 325px;
    height: 325px;
    margin: 1rem;
    padding: 1rem; }
  .heroN__titulo, .heroN__slogan, .heroN__slogan {
    margin: .5rem 1rem;
    padding: .25rem 1rem;
    text-align: center; }
  .heroN__titulo, .heroN__slogan, .nosotroscard__titulo, .nosotroscard__desc {
    font-size: 2.5rem;
    padding: 0.5rem;
    margin: 0.5rem; }
  .heroN__slogan, .nosotroscard__desc {
    font-size: 1.2rem;
    margin: .5rem;
    padding: .5rem; }
  /*  CONTACTO*/
  .formcard {
    padding: .5rem;
    margin: 2.5rem;
    width: inherit; }
  .form {
    height: auto; }
  .fieldset__btn {
    margin: 1rem;
    width: auto;
    font-size: .5em; }
  img.producto__img {
    height: 325px; } }
