/* HEADER */

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.header__anchor{
    font-size: 1em;
    padding: 0.5rem 0rem;
    margin: 0rem .5rem;
    border-bottom: black solid 2px;
    display: inline-block;
}

.header__anchor:hover{
    color: rgb(252, 140, 158);
    border-bottom: rgb(252, 140, 158) solid 2px;
}

.header__logo {
    width: 110px;
    transition: all .3s ease-in-out;
}

img.header__logo:hover {
    width: 125px;
}

.header__figure {
    margin: .5rem;
}

.header__item {
    display: inline-block;

}

.navbar-nav{
    align-items: center;
}
/* FIN HEADER */