 /* ---- PRODUCTOS ----*/

/* CARRUSEL */

.carousel, .carousel-inner > .item > p {
    font-size: 1.5em;
  }

.carousel__h5{
    font-size: 2em;
}

.grid__container > .info__titular > .info__titulo {
    font-size: 1.2em;
}

.carousel-caption {
    background-color: #1e1e1e59;
    border-radius: 30px;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
}

.carousel-control-next-icon, .carousel-control-prev-icon  {
    background-color: black;
    padding: 1.5rem;
    border-radius: 50px;
}
.carousel-inner img {
    max-height: 89vh;
    object-fit: cover;
    background-position: center;
}


/* GRID PRODUCTOS */
    .grid{
       
        &__container {
            height: auto;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            background: url(../img/background_productospng.jpg);
            background-size: cover;
            background-position: center;

        }

        &__titulo {
            text-align: center;
            margin: 0.5rem;
            padding: 2REM;
            font-size: 3.5REM;
            font-family: 'Assistant', sans-serif;
            text-shadow: -2px -2px black;
        }


        &__ul {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            margin: 2rem;
            text-shadow: -1px -1px black;
        }

        &__categorias{
            margin:1rem;
           font-size: 1.5rem;
           font-family: 'Marcellus', serif;
           text-decoration: none;
        
        }
    }

.producto {
    background-color: rgba(245, 245, 245, 0.959);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 35rem;
    justify-content: space-between;
    width: 90%;
    margin: 2rem auto;
    border-radius: 29px;
    box-shadow: 0 0 13px 0 rgba(185, 185, 185, .75);
    transition: all .2s ease-in-out;
        &:hover{
            width: 93%;
            box-shadow: 0 0 15px 0 rgba(139, 139, 139, 0.9);
        }


         &__img {
            height: 390px;
            width: 90%;
            margin: 0.3rem;
            padding: .5rem;
            border-radius: 28px;
            object-fit: cover;
            transition: all .2s ease-in-out;
                &:hover{
                    width: 93%;
                    height: 398px;
                }
        }

        &__titulo{
            display: inline-block;
            font-family: 'Marcellus', serif;
            text-align: center;
        }

        &__titulo{
            font-size: 1.9rem;
        }

        &__price {
            @extend .producto__titulo;
            font-size: 1.2rem;
            background-color: rgb(252, 140, 158);
            border-radius: 10px;
            padding: .6rem;
            margin-bottom: 1rem;
        }
    }
/* FIN GRID PRODUCTOS */